@{
  Layout = "_Layout";
}

@model Storefront.Models.Treat
@using Storefront.Models

<h3>Add a new Treat</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required="required"})

      <label for="flavorId">Flavor ID: </label>
      <input list="flavors" name="flavor" id="flavorId">
      <span id='name-field'></span>
      <datalist id="flavors"> 
    @foreach (Flavor flavor in ViewBag.FlavorList)
    {
                <option value=@flavor.FlavorId>@flavor.Name</option>
    }
      </datalist>
      <input type="submit" value="Add new Treat" class="btn btn-primary" />
}

  <p>@Html.ActionLink("Show all Treats", "Index")</p>
